body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.defectHeader {
    margin: 100px auto 30px auto;
    width: 70%;
    display: flex;
}


.terugLink {
    text-decoration: none;
    color: #000;
    display: flex;
    height: 44px;
    text-align: center;
    margin: 10px 0px 10px 0px;
  }

.titel {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.DefectProduct {
    margin-top: 100px;
    margin-bottom: 30px;
    background-color: #D9D9D9;
    height: 600px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #888888;  
    padding: 50px;  
}

input {
    width: 40%;

}

.defectProductForm {
    margin: 0 auto;
}

.form-group {
    display: flex;
    margin-top: 30px;
}

button {
    width: 150px;
}

.allButtons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.accepterenLink {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
}