* {
    margin: 0;
    padding: 0;
}

#adminDashboard {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.productNr{
    text-align: center;
    margin: 1em;
}
.adminAccepteren{
    background-color: #a39c9b;
    padding: 2em;
    border-radius: 2em;
    margin-left: -1.8em;
    margin-right: 4em;
}
.knoppen{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

h1 {
    margin: 0;
}

#container1 {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.container3 {
   /* background-color: blue;*/
    margin-top: 100px;
    height: 700px;
}



.titel_kalender {
    padding: 20px;
    text-align: center;
   /* background-color: red;*/
}
.defectBtn{
    background-color: black;
    color: white;
    margin-left: 1em!important;
    margin-right: 1em!important;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 1em;
    text-decoration: none;
    transition: 0.3s;
}
.outBtn{
    
    background-color: red;
    color: white;
    margin-left: 1em!important;
    margin-right: 1em!important;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 1em;
    text-decoration: none;
    transition: 0.3s;
    border: 2px solid red;
    
    
}
.outBtn:hover{
    background-color: white;
    color: red;
    border: 2px solid red;
}
.outBtn:active{
    background-color: #a39c9b;
    border: 2px solid #a39c9b;
    color: white;
}
.defectBtn:hover{
    background-color: #464545;
}
.accepterenBtn:hover{
    background-color: #EE4848;
}
.reserverenBtn:hover{
    border: 2px solid red;
}
.reserverenBtn{
    background-color: white;
    color: red;
    margin-left: 1em!important;
    margin-right: 1em!important;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 1em;
    text-decoration: none;
    border: 2px solid white;
    transition: 0.3s;
}
.accepterenBtn{
    background-color: red;
    color: white;
    margin-left: 1em!important;
    margin-right: 1em!important;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 1em;
    text-decoration: none;
    transition: 0.3s;
}
/*small in out*/
#smallInOutDiv{
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#smallInOut1{
    background-color: #a39c9b;
    width: 50%;
    border-radius: 1em;
    margin-right: 1em;
    padding: 1em;
    
}
#smallInOut2{
    background-color: #a39c9b;
    width: 50%;
    border-radius: 1em;
    padding: 1em;
    margin-left: 1em;
}
.dots{
    width: 3em;
    margin-left: 9em;
    transition: 0.3s;
    border-radius: 2em;
    
}
.dots:hover{
    background-color: #a39c9b;
    border-radius: 2em;

}
.inOutProduct{
    background-color: white;
    display: flex;
    margin: 1em;
    padding: 1em 1em 0em 1em;
    flex-direction: row;
}
#vandaagInButtons{
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    
}
#vandaagInButtons2{
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    justify-content: center;
    
}
.defectButton{
    text-align: center;
    margin-top: 1em;
}
.productInfo{
    display: flex;
    flex-direction: row;

    
    
}

.inoutdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    
    
}
/*Admin catalogus*/
.titel_kalender h1 {
    margin-bottom: 10px;
    text-align: center;
}

.buttons_kalender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: green;*/
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 0px;
}

/* display flex zodat de twee buttons bij elkaar horen. */
.buttons-container {
    display: flex;
    flex-direction: column;
}

.buttons-container button {
    margin-bottom: 10px;
    border-radius: 15px;
    width: 200px;
    height: 40px;
    background-color: #a39c9b;
    color: black;
    border: none;
    outline: none;
}

.buttons-container button:hover {
    background-color: #464545;
}


.buttons_kalender form input[type="text"] {
    border-radius: 15px;
    background-color: #a39c9b;
    color: red;
    padding: 8px 12px;
    border: none;
    outline: none;
}

.buttons_kalender form input[type="text"]::placeholder {
    color: red;
}

.kalender {
    max-width: 1200px;
    margin: 0 auto;
    /*background-color: darkorchid;*/
}

.header_kalender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    /*background-color: orange;*/
}

.container_kalender {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.item {
    padding-bottom: 10px;
    border: 1px solid black
}

.dag {
    border: 1px solid black;
    text-align: center;
}

.arrow_prev,
.arrow_next {
    background: none;
    border: none;
    cursor: pointer;
    color: black;
}

.arrow_prev img,
.arrow_next img {
    width: 80px;
    height: auto;
}
