body {
    background-color: white;
}
.inOutCatalagus{
    height: 60vh;
    margin-top: 2em;
}
.inAndOut{
    margin-left: 15vw;
    width: 70vw;
    background-color: grey;
    border-radius: 1em;
    margin-top: 5em;
    
    padding: 3em;
}
.defectButton{
    background-color: black;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 1em;
    text-align: center;
    align-content: center;
    margin-top: 0.5em;
    height: 2em;
    transition: 0.5s;
}

.defectButton:hover{
    background-color: #464545;
}
.submitIcon{
    transition: 0.5s;
    background-color: blue;
}
.submitIcon:hover{
    width: 2.2em;
}
.dots{
    width: 4em;
    transition: 0.5s ;
    border-radius: 3em;
    
}
.dots:hover{
    
    background-color: lightgray;
    width: 4.5em;
}
.productState{
    display: flex;
    flex-direction: row;
}
.inButtons{
    display: flex;
    flex-direction: column;
    margin: 2em;
    width: 15%;
    
}
.intButtons2{
    display: flex;
    flex-direction: column;
    
    width: 15%;
    margin:2em 1em 1em 1em;
}
.productInfo{
    margin: 1em;
    padding: 0.5em;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;

    width: 100%;
}