.container {
    margin-top: 40px;
    height: 700px;
    padding: 20px;
    text-align: center;
    background-color: rgb(181, 181, 181);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.gegevens_kit,
.product_toevoegen,
.overview_producten {
    margin-bottom: 40px;
    background-color: grey;
    width: 80%; /* Changed width to max-width */
    border-radius: 10px;
    height: 150px;
    padding: 20px; /* Added padding */
    box-sizing: border-box; /* Include padding and border in the total width */
    /* margin tussen elke sectie */
}

input,
button {
    margin-bottom: 20px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    /* margin tussen input en knop */
}

