* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.zoekbalkContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 15px;
}

.vl {
  border-left: 2px solid #d2d2d2;
  height: 44px;
  margin: 0px 5px 0px 5px;
  padding: 0px 2px 0px 2px;
}

.terugLink {
  text-decoration: none;
  color: #000;
  display: flex;
  height: 44px;
  text-align: center;
  margin: 10px 20px 10px 20px;
}

.zoekbalkForm {
  background-color: #efefef;
  height: 44px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: #d2d2d2 2px solid;
}

.inputZoekbalk {
  all: unset;
  font: 16px system-ui;
  height: 100%;
  width: 250px;
  padding: 6px 10px;
  text-align: center;
}

input[type="checkbox"] {
  width: auto;
  appearance: auto;
}

.buttonZoekbalk {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

svg {
  color: #535353;
  width: 45px;
  height: auto;
  padding: 10px;
}

.categorieZoekbalk {
  all: unset;
  padding: 5px;
  width: 70px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.categoryOptions {
  color: red;
}

.gevondenItems {
  margin: 10px;
}

.datumZoekbalk {
  cursor: pointer;
}

.applyButtonClasses {
  background-color: #ff0000;
}

#kit:hover {
  cursor: pointer;
}

.kitLabel {
  font-family: Arial, Helvetica, sans-serif;
}

.imagelayoutwijzigen {
  padding-right: 10px;
  width: 44px;
  height: auto;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  margin: 60px
}

.columns .product {
  width: calc(33.33% - 20px); /* Adjust width as needed, minus margins */
  margin: 10px; /* Add margin between products */
}

.columns .col-md-4.img-container,
.columns .col-md-8 {
  flex: 0 0 100%; /* Set flex-basis to 100% to make them stack vertically */
}
