* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.uitleningenTitle {
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.meldenPopUp {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%; 
  height: 50%;
  overflow: auto;
  background-color: #D9D9D9;
  text-align: left;
  border-radius: 15px;
  box-shadow: 0 0 50px black;
}

.meldenPopUp-content h2 {
  margin: 20px 0 20px 0;
  text-align: center;
}

.meldenPopUp-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meldenPopUp-content label {
  margin: 10px 0 10px 0;
  font-size: 20px;
}

.meldenPopUp-content input {
  font-size: 20px;
}

.meldenPopUp-content

.meldenPopUp-content .submitButton {
  font-size: 25px;
}

.close {
  margin: 0 0 0 95%;
  cursor: pointer;
}

.uitleningenTitle-col-1 {
  display: flex;
  justify-content: end;
  width: 40%;
}

.uitleningenTitle-col-2 {
  width: 20%;
  text-align: center;
}

.uitleningenTitle-col-3 {
  width: 40%;
}

.terugLink {
  text-decoration: none;
  font-size: 1.1rem;
  color: #000;
  display: flex;
  height: 44px;
  text-align: center;
  margin: 10px 20px 10px 20px;
}

p {
  margin-left: 400px;
}

.table {
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.table td,
th {
  padding: 10px;
}

.table button {
  padding: 2px 5px 2px 5px;
}

button#nietInBezit {
  background-color: red;
  color: white;
}

button#welInBezit {
  background-color: green;
  color: white;
}
