.container {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 70%;
    border-radius: 1em;
    background-color: white;
    border: 1px solid #d1d1d1;
    box-shadow: #cecbcb 6px 6px;
    padding-top:5em;
    padding-bottom:3em;
}

.gegevens_kit{
    margin: 2em;
    width: 80%; 
    height: 900px;
    border-radius: 1em;
    padding: 1em;
    background: rgb(231, 231, 231);
    
}
.product_toevoegen {
    margin-bottom: 40px;
    background: rgb(231, 231, 231);
    width: 80%; /* Changed width to max-width */
    border-radius: 1em;
    height: 800px;
    padding: 1em; /* Added padding */
    
}

.gegevens_kit {
    height: 200px;
}

input {
    margin-bottom: 2em;
    border-radius: 10px;
    font-size: 20px;
    padding: 0.2em;
    
    /* margin tussen input en knop */
}
.submit {
    background-color: white;
    color: red;
    margin-left: 1em !important;
    margin-right: 1em !important;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 2em;
    text-decoration: none;
    border: 2px solid #c4c4c4;
    transition: 0.3s;
    margin-bottom: 2em;
}
.submit2 {
    background-color: white;
    color: red;
    width: 10em;
    padding: 5px;
    border-radius: 2em;
    text-decoration: none;
    border: 2px solid #c4c4c4;
    transition: 0.3s;
}

button.submit2 {
    width: 500px;
}
.categorieZoekbalk{
    padding: 0.5em;
    
    border: 1px solid red;
    border-radius: 1em;
}
.categorieZoekbalk2{  
    padding: 0.2em;
    border: 1px solid red;
    border-radius: 1em;
}
.submit:hover, .submit2:hover {
    border: 2px solid red;
}
.labelcontainers{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 2em;
}
.labelcontainers2{
    width: 55%;
    display: flex;
    margin: 2em;    
}

select#categrieSelect {
    margin-bottom: 20px;
}

#groepinput{
    margin-right: 1em;
    height: 40px;
}

#labelProduct {
    margin-right: 20px;
}

.overview_producten {
    margin-bottom: 30px;
}

input#formFile {
    width: 300px;
} 